.bottomBar {
  display: flex;
  gap: 16px;
  padding: 16px;
  background: var(--color-background-0);

  .startBtnRunning,
  .resetBtnRunning,
  .startBtnIdle,
  .resetBtnIdle {
    flex: 1;
    border: none !important;
    border-radius: var(--border-radius-lg) !important;
    font-size: var(--font-size-2xl) !important;
    padding: 16px 0 !important;
    color: var(--color-text-0) !important;
    cursor: pointer !important;
  }

  .startBtnRunning,
  .resetBtnRunning {
    background: var(--color-info-hover) !important;

    &:hover {
      background: var(--color-info) !important;
    }
  }

  .startBtnIdle,
  .resetBtnIdle {
    background: var(--color-warning-light-selected) !important;

    &:hover {
      background: var(--color-warning-light-hover) !important;
    }
  }
}
