.bottomBar {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 32px;
}

.bottomBar .startBtn,
.bottomBar .resetBtn {
  flex: 1;
  background: var(--color-warning-light-selected);
  border: none;
  border-radius: var(--border-radius-lg);
  font-size: var(--font-size-2xl);
  padding: 16px 0;
  color: var(--color-text-0);
  cursor: pointer;
  transition: background 0.2s;
}

.bottomBar .startBtn:hover,
.bottomBar .resetBtn:hover {
  background: var(--color-warning-light-hover);
}

.bottomBar .Icon {
  width: 24px;
  height: 24px;
}
